.container--status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container--status::before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: var(--table-header);
}


.container--status.green::before {
    background: var(--green-500);
}

.container--status.pink::before {
    background: var(--pink-800);
}
.container--status.orange::before {
    background: var(--orange-500);
}